
<br>
<br>
      <br><br>
      <div class="row">
        <div class="col">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                  <h3 class="card-title" style="color: blueviolet;">NeST Digital Corporate Office</h3>
                  <p class="card-text">Plot No. 2, Cochin Special Economic Zone(CSEZ), Kakkanad, Cochin – 682 037, India
                        <br><br>
                    Phone: +91-484-661 4300</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                  <h3 class="card-title" style="color: blueviolet;">For Business related Enquiries</h3>
                  <p class="card-text">Email: sales.nestdigital nestgroup.net
                    <br><br>
                    Ph: +91-484-6701000, +91484-4203333</p>
                </div>
              </div>
        </div>
      </div>
      
      <br><hr><br>

      <h3 style="color: blueviolet;">NeST Digital Development Centers</h3><br>
      <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <p class="card-text">NeST Towers, University junction, Kalamassery, Kochi, Kerala, India – 682 033
                    <br><br>Ph: +91-4846701000</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <p class="card-text">NeST Tech Park, NeST Valley,Near Infopark, Infopark P.O, Kakkanad, Kochi, Kerala, India – 682042
                    <br><br>Ph:+914844203333</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <p class="card-text">Unit 4, 1st Floor, Cresent 1, Prestige Shantiniketan, Sadaramangala Village, Whitefield, Bangalore – 560048</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <p class="card-text">SA-3, Periyar, Technopark Campus, Karyavattom, Trivandrum, Kerala, India -695 581
                    <br><br>
                    Ph:- 0471-2527441
                    <br>
                    Fax :- 0471-2700442</p>
                </div>
              </div>
        </div>
      </div>
        <br><hr><br>
        <h3 style="color: blueviolet;">Major front end offices</h3><br>
      <div class="row">
        <div class="col">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                  <h5 class="card-title">NeST IT LLC</h5>
                  <p class="card-text">#203, 2nd Floor, Al Moosa Tower II,Sheikh Zayed Road, P O Box 83189, Dubai, UAE.
                        <br><br>
                    Off. +971 43252100
                    <br>
                    Mob. +971 565745642</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                  <h5 class="card-title">NeST TECHNOLOGIES CORP</h5>
                  <p class="card-text">44873 Falcon Place, Suite 118Sterling, VA 2016
                        <br><br>
                    Tel: 703-653-1100
                    <br>
                    Fax: 703-803-8319</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                  <h5 class="card-title">SFO TECHNOLOGIES CORPORATION</h5>
                  <p class="card-text">200, South Executive DriveSuite 101, BrookfieldWisconsin – 53005, USA</p>
                </div>
              </div>
        </div>
      </div>

