<div style="background-color: rgb(2, 2, 125);">
    <div class="row">
      <div style="padding-left: 50px ;" class="col">
        <ul class="nav flex-column">
      <li class="nav-item">
        <a style="color: orange;font-size: larger;" class="nav-link active" aria-current="page" href="#">Quick Links</a>
      </li>
      <li class="nav-item">
        <a style="color:white" class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a style="color:white"class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a style="color:white"class="nav-link active" aria-current="page" href="#">Insights</a>
      </li>
      <li class="nav-item">
        <a style="color:white" class="nav-link active" aria-current="page" href="#">Careers</a>
      </li>
      <li class="nav-item">
        <a  style="color:white"class="nav-link active" aria-current="page" href="#">Contact Us</a>
      </li><li class="nav-item">
        <a style="color:white"class="nav-link active" aria-current="page" href="#">Blogs</a>
      </li><li class="nav-item">
        <a style="color:white"class="nav-link active" aria-current="page" href="#">Whitepapers</a>
      </li><li class="nav-item">
        <a style="color:white"class="nav-link active" aria-current="page" href="#">Webinar</a>
      </li><li class="nav-item">
        <a style="color:white"class="nav-link active" aria-current="page" href="#">Podcasts</a>
      </li>
      <br>
      <br>
      <br>
      <br>
      
    </ul></div>

    <div style="padding-right: 0px;"  class="col">
      <ul class="nav flex-column">
    <li  class="nav-item">
      <a   style="color: orange;font-size:larger;  "   class="nav-link active" aria-current="page" href="#">Industries</a>
    </li>
    <li class="nav-item">
      <a style="color:white"class="nav-link" href="#">Mobility</a>
    </li>
    <li class="nav-item">
      <a style="color:white"class="nav-link" href="#">Aerospace &<br>Defence</a>
    </li>
    <li class="nav-item">
      <a style="color:white" class="nav-link active" aria-current="page" href="#">Locomotive</a>
    </li>
    <li class="nav-item">
      <a style="color:white"class="nav-link active" aria-current="page" href="#">Industrial</a>
    </li>
    <li class="nav-item">
      <a style="color:white"class="nav-link active" aria-current="page" href="#">Banking &<br>Financial Service</a>
    </li>
    <li class="nav-item">
      <a style="color:white"class="nav-link active" aria-current="page" href="#">Insurance</a>
    </li>
    <li class="nav-item">
      <a style="color:white"class="nav-link active" aria-current="page" href="#">Healthcare</a>
    </li>
  </ul></div>
  
  <div style="padding-left: 70px;" class="col">
    <ul class="nav flex-column" style="position: absolute;right:350px;">
  <li class="nav-item">
    <a   style="color: orange;font-size: larger;"class="nav-link active" aria-current="page" href="#">Services</a>
  </li>
  <li class="nav-item">
    <a style="color:white"class="nav-link" href="#">Cloud Service</a>
  </li>
  <li class="nav-item">
    <a style="color:white"class="nav-link" href="#">Cyber Security</a>
  </li>
  <li class="nav-item">
    <a style="color:white"class="nav-link active" aria-current="page" href="#">Data<br>Engineering</a>
  </li>
  <li class="nav-item">
    <a style="color:white"class="nav-link active" aria-current="page" href="#">DevOps</a>
  </li>
  <li class="nav-item">
    <a style="color:white" class="nav-link active" aria-current="page" href="#">GIS</a>
  </li>
</ul></div>
   <h1 style="padding-left: 100px; color: aliceblue;"> Get in touch with us</h1>
  </div>
<div style=" padding-left: 200px;">
 <a href="contact.html">  <button style="color: white;" type="button" class="btn btn-warning btn-lg" routerLink="/contact">Contact Us</button></a>
</div>
<hr style="color: #f4eeeeeb; height: 20px;">
<h6 style="text-align: center; color: white;">2023 © All Rights Reserved.NesT Digital Pvt.Ltd | Legal Desclaimer | Desclaimer:Fraud Recuitment Offers | A NesT Group Company</h6>
<br>
</div>


